<p class="note warning">
<strong>Warning: </strong>
<%= vars.product_full %>  is currently in beta and is intended for evaluation and test purposes only.
Do not use this product in a <%= vars.product_name %> production environment.
</p>
