<p class="note warning">
<strong>Warning: </strong>
The Kubernetes Service Manager for PCF tile is currently in beta and is intended for evaluation and test purposes only.
Do not use this product in a Pivotal Cloud Foundry production environment.
</p>
