---
title: Kubernetes Service Manager for PCF (Beta)
owner: ISM
---

<strong><%= modified_date %></strong>

<%= partial ("beta-notice") %>
This topic is an overview of Kubernetes Service Manager (KSM) for Pivotal Cloud Foundry (PCF).

## <a id='overview'></a>Overview

KSM for PCF enables operators
to provide application developers with access to services through the `cf marketplace`.
These services run on Enterprise Pivotal Container Service (Enterprise PKS) for consumption by
Pivotal Application Services (PAS) apps.

For more information about the `cf marketplace`,
see [Pivotal Cloud Foundry Developer Guide](https://docs.pivotal.io/pivotalcf/2-5/devguide/index.html).

For more information about Enterprise PKS,
see [Enterprise Pivotal Container Service (PKS)](https://pivotal.io/platform/pivotal-container-service).

KSM for PCF enables operators to do the following:

* Install an Independent Software Vendor (ISV) or open source Helm chart into a PKS cluster.
* Offer an ISV or open source Helm chart as an on-demand service to PAS developers.

KSM for PCF enables app developers to do the following:

* Provision dedicated service instances onto a PKS cluster through the Marketplace.
* Consume services running on Enterprise PKS in apps running on PAS.

## <a id='features'></a> Key Features

KSM for PCF includes the following key features:

* A service broker that provisions dedicated service instances into a PKS cluster and binds service instances to PAS apps.
* A command line interface (CLI) for managing service offerings and installing a shared service instance
into a PKS cluster.

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about KSM for PCF.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Tile version</td>
        <td>0.4.61</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>June 18, 2019</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>0.4.0</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>2.2, 2.3, 2.4, and 2.5</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Service version(s)</td>
        <td>2.2, 2.3, 2.4, and 2.5</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Container Service version(s)</td>
        <td>1.2 and 1.3</td>
    </tr>
    <tr>
       <td>BOSH stemcell version</td>
       <td>Ubuntu Xenial</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, OpenStack, and vSphere</td>
    </tr>
    <tr>
        <td>IPsec support</td>
        <td>No</td>
    </tr>
</table>

## <a id="reqs"></a>Requirements

KSM for PCF requires the following:

* **PKS CLI:** For information about installing the PKS CLI,
  see [Installing the PKS CLI](https://docs.pivotal.io/runtimes/pks/installing-pks-cli.html).
* **Bazaar CLI:** For information about installing the Bazaar CLI, see [Install the Bazaar CLI](./installing.html#bazaar) .
* **Helm CLI:** For information about installing the Helm CLI, see [Installing Helm](https://helm.sh/docs/using_helm/#installing-helm) in the Helm documentation.
* **PAS Deployment:** A running PAS deployment.
* **PKS Cluster:** A running PKS cluster.
* **Private Container Registry (optional):** You need this to manage container images in air-gapped environments.
  Pivotal recommends using a private container registry in production deployments.
  You can use a container registry such as [Harbor](https://network.pivotal.io/products/harbor-container-registry).
* **Docker (CLI):** See [Docker](https://www.docker.com/).

## <a id="limitations"></a>Limitations

Dedicated service instances created by KSM for PCF provision
an IaaS load balancer for ingress into each service instance. You cannot use ClusterIP
or NodePort for ingress.

## <a id="feedback"></a>Feedback

If you have a feature request, questions, or information about an issue,
send an email to [Kubernetes Service Manager for PCF Feedback](mailto:bazaar-feedback@pivotal.io).

## <a id='license'></a>License

This product is distributed under the [Pivotal Pre-Release EULA](https://network.pivotal.io/legal_documents/pivotal_beta_eula) license.
