---
title: Tanzu Service Manager documentation
---

<p class="note important">
  <strong>Important:</strong> Tanzu Service Manager is no longer supported. This documentation
  has been archived.
</p>
<br>

Tanzu Service Manager was a feature within Tanzu Application Service for VMs (TAS for VMs) that enabled operators
to provide app developers with access to services through the `cf marketplace`.
These services run on Kubernetes clusters such as those created with Tanzu Kubernetes Grid Integrated Edition
for consumption by TAS for VMs apps.
