---
title: Release Notes for Kubernetes Service Manager for PCF
owner: Platform Engineering (KSM Team)
---

<strong><%= modified_date %></strong>

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>

<%= partial vars.path_to_partials + '/services/beta-notice',
:locals => {:product_full => vars.product_full, :platform_name => vars.platform_name} %>

These are release notes for Kubernetes Service Manager (KSM) for PCF.

##<a id="0-4-61"></a> v0.4.61

**Release Date:** June 18, 2019

<p class="note"><strong>Note:</strong> This release is incompatible with previous
  releases of KSM for PCF. This is because KSM for PCF v0.4.61 deploys multiple
  instances. To use KSM for PCF v0.4.61, you must add your charts to the broker again.
  To do this, do the procedures in
  <a href="./using.html#add">Add a Service Offering to Kubernetes Service Manager for PCF </a>
   and <a href="./using.html#enable">Enable Service Offering Access</a>.
  </p>

### Features

New features and changes in this release:

* Operators can add `bind.yaml` templates to create environment variables for app consumption.
For information, see [(Optional) Create Environment Variables for App Consumption](./using.html#env).
* By default, KSM deploys multiple instances and has high availability.

### Known Issues

There are no known issues in this release.

##<a id="0-4-34"></a> v0.4.34

**Release Date:** March 11, 2019

Initial release
