---
title: Troubleshooting Errors
owner: Platform Engineering (TSMGR Team)
---

<strong><%= modified_date %></strong>

This topic provides platform operators with solutions for specific errors that might occur in
<%= vars.product_full %> (<%= vars.product_short %>).

<pre>
erb
api-ca=<\%= p("demo.tls.ca") %\>
api-certificate=<\%= p("demo.tls.certificate") %\>
api-private-key=<\%= p("demo.tls.private_key") %\>
</pre>

## <a id='errors'></a> Troubleshoot Errors

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>

<%= partial vars.path_to_partials + "/troubleshoot-template", locals: {
    id: 'helm-versions',
    description: 'Incompatible Helm CLI Versions' ,
    symptom: "When you run <code>#{vars.product_cli} offer save</code>, you see an error similar to the following:
    <pre class='terminal'> helm.sh/hook: crd-install found in [Chart1, Chart2....] but no Helm /crds dir; this looks like a Helm 2 only chart </pre>",
    cause:  vars.product_short  + ' supports charts that use the Helm 2 and Helm 3 CLIs.
    However, Helm 2 and Helm 3 use different methods to install Custom Resource Definitions (CRDs).
    <br><br>If a Helm 2 chart does not define CRDs using both methods, adding or
    updating the service offering might fail.',
    solution: 'Define the CRDs in your Helm chart using both the Helm 2 and Helm 3 methods by
    doing the procedure in <a href="./configure-helm.html#crd">Define Custom Resource Definitions</a>.'
} %>
