---
title: Pivotal Bazaar for PCF (Beta)
owner: ISM
---

<strong><%= modified_date %></strong>

<p class="note warning">
<strong>WARNING! </strong>
The Bazaar tile is currently in beta and is intended for evaluation and test purposes only.
Do not use this product in a PCF production environment.
</p>

Pivotal Bazaar for PCF enables the platform operator to provide app development team(s) with access to services running on
[Pivotal Container Service (PKS)](https://pivotal.io/platform/pivotal-container-service)
via the
[Cloud Foundry Marketplaces](https://docs.pivotal.io/pivotalcf/devguide/services/index.html)
for consumption by PAS applications.


## <a id='overview'></a>Overview

PKS service integrations can take a lot of forms. Bazaar tackles two large classes of services:

* Installing a single Helm chart to a particular cluster (`shared-instance`).
* Provisioning services as needed by individual teams from the [Cloud Foundry Marketplaces](https://docs.pivotal.io/pivotalcf/devguide/services/index.html) (`dedicated-instances`).
* Installing a cluster add-on, such as a observability or security tool.

In the shared-instance and add-on cases, bazaar helps by providing a consistent operator experience for installing a chart
into a particular cluster.

In the dedicated-instances case, Bazaar lets the operator offer an ISV or open source Helm charts to
[Pivotal Application Service](https://pivotal.io/platform/pivotal-application-service)
developers on demand. Developers who use the `cf create-service` command will, in realtime, provision a chart
to the service's backing cluster.


## <a id='features'></a>Key Features
Bazaar includes the following key features:

* A broker tile that provisions dedicated service instances into a PKS cluster.
* A CLI for downloading PKS integrations off Pivotal Network, managing broker dedicated-instance offerings,
  and installing a shared-instance into a cluster.


## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about Bazaar.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Tile version</td>
        <td>v0.4.0</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td><span style="color: deeppink; font-weight: bold">TODO</a></td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>v0.4.0</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>2.2, 2.3, and 2.4</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Service version(s)</td>
        <td>2.2, 2.3, and 2.4</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Container Service version(s)</td>
        <td>1.2 and 1.3</td>
    </tr>
    <tr>
       <td>BOSH stemcell version</td>
       <td>Xenial</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, OpenStack, and vSphere</td>
    </tr>
    <tr>
        <td>IPsec support?</td>
        <td><span style="color: deeppink; font-weight: bold">TODO</a></td>
    </tr>
</table>


## <a id="reqs"></a>Requirements

Bazaar has the following requirements:

* For disconnected environments, a container registry like [Harbor](https://network.pivotal.io/products/harbor-container-registry)
  is needed to manage images.
* [Docker](https://www.docker.com/)
* The [PKS CLI](https://docs.pivotal.io/runtimes/pks/cli/index.html)

## <a id="limitations"></a>Limitations

* Bazaar dedicated-instances provision an IaaS load balancer for ingress to each instance.


## <a id="feedback"></a>Feedback

If you have a feature request, questions, or information about a bug, please email
[Pivotal Cloud Foundry Feedback](mailto:cf-feedback@pivotal.io) list or send an email
to <span style="color: deeppink; font-weight: bold">TODO</a>.

## <a id='license'></a>License

This product is distributed under the [Pivotal Pre-Release EULA](https://network.pivotal.io/legal_documents/pivotal_beta_eula) license.
