---
title: Kubernetes Service Manager for PCF (Beta)
owner: ISM
---

<strong><%= modified_date %></strong>

<%= partial ("beta-notice") %>
This topic is an overview of Kubernetes Service Manager for PCF.

## <a id='overview'></a>Overview

Kubernetes Service Manager for Pivotal Cloud Foundry (PCF) enables platform operators
to provide app developers with access to services through the Marketplace.
These services run on Pivotal Container Service (PKS) for consumption by Pivotal Application Services (PAS) apps. 

For more information about the Marketplace, see [Pivotal Services Marketplace](https://pivotal.io/platform/services-marketplace). 
For more information about PKS, see [Pivotal Container Service (PKS)](https://pivotal.io/platform/pivotal-container-service).

Kubernetes Service Manager for PCF enables operators to do the following:

* Install a Helm chart for a shared service instance or add-on into a PKS cluster. 
* Provision a dedicated service instance for developers in the Marketplace.  
* Offer on demand an Independent Software Vendor (ISV) or open source Helm chart to PAS developers.

## <a id='features'></a> Key Features

Kubernetes Service Manager for PCF includes the following key features:

* A service broker tile that provisions dedicated service instances into a PKS cluster.
* A command line interface for managing broker dedicated service instances offerings
  and installing a shared service instance into a cluster.

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about Kubernetes Service Manager for PCF.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Tile version</td>
        <td>0.4.0</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>March XX, 2019</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>v0.4.0</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>2.2, 2.3, and 2.4</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Service version(s)</td>
        <td>2.2, 2.3, and 2.4</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Container Service version(s)</td>
        <td>1.2 and 1.3</td>
    </tr>
    <tr>
       <td>BOSH stemcell version</td>
       <td>Ubuntu Xenial</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, OpenStack, and vSphere</td>
    </tr>
    <tr>
        <td>IPsec support</td>
        <td>No</td>
    </tr>
</table>

## <a id="reqs"></a>Requirements

Kubernetes Service Manager for PCF requires the following:

* **Container registry:** You need this to manage images in air-gapped environments.
  Pivotal recommends using a container registry in production deployments.
  You can use a container registry such as [Harbor](https://network.pivotal.io/products/harbor-container-registry).
* **Docker (CLI):** See [Docker](https://www.docker.com/).
* **PKS Command Line Interface (CLI):** For information about installing the PKS CLI,
  see [Installing the PKS CLI](https://docs.pivotal.io/runtimes/pks/installing-pks-cli.html).
* **Helm CLI:** See [Installing Helm](https://helm.sh/docs/using_helm/#installing-helm) in the Helm documentation.

## <a id="limitations"></a>Limitations

Dedicated service instances created by Kubernetes Service Manager for PCF provision
an IaaS load balancer for ingress into each service instance.

## <a id="feedback"></a>Feedback

If you have a feature request, questions, or information about an issue,
send an email to [Kubernetes Service Manager for PCF Feedback](mailto:bazaar-feedback@pivotal.io).

## <a id='license'></a>License

This product is distributed under the [Pivotal Pre-Release EULA](https://network.pivotal.io/legal_documents/pivotal_beta_eula) license.
