---
title: Installing the Bazaar CLI
owner: ISM
---
<strong><%= modified_date %></strong>

<%= partial ("beta-notice") %>

This topic describes how to install the Bazaar Command Line Interface (CLI) for 
Kubernetes Service Manager for PCF.

##<a id='install'></a>  Install the Bazaar CLI

To install the Bazaar CLI, do the following:

1. Log in and navigate to **Kubernetes Service Manager for PCF (KSM)** in 
[Pivotal Network](https://network.pivotal.io/). 

1. Click **Kubernetes Service Manager CLIs** and download the CLI for your operating system.

1. Rename the downloaded binary file to `bazaar`.

1. If you are using MacOS or Linux, 
to make the Bazaar binary act as an executable file, run the following command :

    <pre class="terminal">chmod +x bazaar</pre>

1. Move the binary file into your `PATH`. 
If you are using MacOS or Linux, to move the binary file into your `PATH`, run the following command:

    <pre class="terminal">mv bazaar /usr/local/bin/bazaar</pre>
