---
title: Installing and Configuring Kubernetes Service Manager for PCF
owner: ISM
---
<strong><%= modified_date %></strong>

<%= partial ("beta-notice") %>

This topic describes how to install and configure Kubernetes Service Manager (KSM) for Pivotal Cloud Foundry (PCF).

##<a id='bazaar'></a>  Install the Bazaar CLI

To install the Bazaar CLI, do the following:

1. Log in and navigate to **Kubernetes Service Manager for PCF (KSM)** in 
[Pivotal Network](https://network.pivotal.io/). 

1. Click **Kubernetes Service Manager CLIs** and download the CLI for your operating system.

1. Rename the downloaded binary file to `bazaar`.

1. If you are using MacOS or Linux, 
to make the Bazaar binary act as an executable file, run the following command :

    <pre class="terminal">chmod +x bazaar</pre>

1. Move the binary file into your `PATH`. 
If you are using MacOS or Linux, to move the binary file into your `PATH`, run the following command:

    <pre class="terminal">mv bazaar /usr/local/bin/bazaar</pre>

##<a id='install'></a> Download and Install the Tile

To add KSM for PCF to Ops Manager, do the following:

1. Log in and download the Kubernetes Service Manager for PCF file from [Pivotal Network](https://network.pivotal.io/).

1. Navigate to the Ops Manager Installation Dashboard and click **Import a Product** to upload the product file. 

1. Under **Import a Product**, click **+** next to the version number of KSM for PCF.
This adds the tile to your staging area.

1. Click the newly-added **Kubernetes Service Manager for PCF** tile to open its configuration panes.

## <a id="configure"></a>Configure the Tile
Follow the steps below to configure KSM for PCF service.


###<a id='az-networks'></a> Configure AZs and Networks

Follow the steps below to select an availability zone (AZ) to run the service broker and to select networks.

 1. Click **Assign AZs and Networks**

 1. Configure the fields as follows:
   <table>
     <tr><th>Field</th><th>Instructions</th></tr>
     <tr>
        <td><strong>Place singleton jobs in</strong></td>
        <td>Select the AZ that you want the singleton VMs to run in.
            This selection does not affect KSM for PCF.</td>
     </tr>
     <tr>
        <td><strong>Balance other jobs in</strong></td>
        <td>Select additional AZs.
            This selection controls the regions in which KSM for PCF is deployed.</td>
     </tr>
     <tr>
        <td><strong>Network</strong></td>
        <td>Select the same network you use for the Pivotal Application Service (PAS) component VMs. 
          To view the network PAS component VMs use, navigate to <strong>PCF Ops Manager</strong> > 
          <strong>Pivotal Application Service (PAS)</strong> > <strong>Assign AZs and Networks</strong>. 
        </td>
     </tr>
   </table>
    <p class="note warning"><strong>Warning:</strong> If you change the network or its IP address
       after they are assigned your deployment fails. For more information,
       see <a href="https://docs.pivotal.io/rabbitmq-cf/changing-ips.html">Changing Network or IP Addresses Results in a Failed Deployment</a>.</p>

 2. Click **Save**.
 

### <a id="kubeconfig"></a> Configure Cluster Credentials

To use the Pivotal Container Service Command Line Interface (PKS CLI) to configure default settings for your kubeconfig, do the following:

1. To retrieve your cluster credentials with the PKS CLI,
   do the procedure in [Retrieve Cluster Credentials](https://docs.pivotal.io/runtimes/pks/cluster-credentials.html#get-credentials).

1. Navigate to `$HOME/.kube/config` and record the following values for your cluster:
  + `certificate-authority-data`. This value is the CA certificate for the PKS cluster.
  + `server`. This value includes both the Kubernetes API endpoint and port in the format `ENDPOINT:PORT`.
  + `token`. This value is found in the `context:user` section.

1. Navigate to **PCF Ops Manager** > **Kubernetes Service Manager for PCF** > **Kubernetes Configuration**. 

1. Configure the fields as follows:
   <table class="nice">
  <tr>
  <th>Field</th>
  <th>Instructions</th>
  </tr>
  <tr>
    <td><strong>A base64 encoded PEM Cluster CA certificate</strong></td>
    <td>Enter the value of <code>certificate-authority</code> in your kubeconfig.</td>
  </tr>
  <tr>
    <td><strong>K8s API endpoint</strong></td>
    <td>Enter the endpoint value of <code>server</code> in your kubeconfig. </td>
  </tr>
  <tr>
    <td><strong>K8s API endpoint port</strong></td>
    <td>Enter the port value of <code>server</code> in your kubeconfig.</td>
  </tr>
  <tr>
    <td><strong>Token</strong></td>
    <td>Enter the value of <code>token</code> in your kubeconfig. </td>
  </tr>
  </table>
    
For more information about using kubeconfig files,
see [Organizing Cluster Access Using kubeconfig Files](https://kubernetes.io/docs/concepts/configuration/organize-cluster-access-kubeconfig/).

### <a id="container"></a> Configure Container Registry

When you configure a private registry,
KSM for PCF changes the helm chart to point to images in the private registry.
Pivotal recommends using a private registry in production.
You obtain these values from your container registry, such as Harbor.

To configure a private registry, do the following:

1. Click **Container Registry Configuration**.
1. Enter the **Registry Server URL**.
1. Enter the **Registry Username**.
1. Enter the **Registry Password**.

### <a id="errands"></a>Errands

The pre-delete errand `deregistar` removes the pre-provisioned Kubernetes service from the Marketplace
and deletes all associated service instances and bindings.
This errand is disabled by default.

### <a id="apply-changes"></a> Apply All Changes

To deploy KSM for PCF and apply your configurations, do the following:

1. Navigate to the Ops Manager Installation Dashboard. 

1. If you are using Ops Manager v2.3 or later, click Review Pending Changes.
   For more information about this Ops Manager page,
   see [Reviewing Pending Product Changes](https://docs.pivotal.io/pivotalcf/2-4/customizing/review-pending-changes.html).

1. Click **Apply Changes**.
