---
title: Installing the Bazaar CLI
owner: ISM
---
<strong><%= modified_date %></strong>

<%= partial ("beta-notice") %>

This topic describes how to install the Bazaar Command Line Interface (CLI) for Kubernetes Service Manager for PCF on your workstation.

##<a id='install'></a> Install the Bazaar CLI for Mac OS

To install the Bazaar CLI on your workstation, do the following:

1. Search for **Kubernetes Service Manager for PCF** on [Pivotal Network](https://network.pivotal.io/).

1. Click **Kubernetes Service Manager CLIs**.

1. Download the **Mac CLI for Bazaar** binary.

1. Rename the downloaded binary file to `bazaar`.

1. On the command line, run the following command to make the Bazaar binary act as an executable file:

  ```
  chmod +x bazaar
  ```

1. On the command line, run the following command to move the binary file into your `PATH`.

  ```
  mv bazaar /usr/local/bin/bazaar
  ```

##<a id='install'></a> Install the Bazaar CLI for Linux

To install the Bazaar CLI on your workstation, do the following:

1. Search for **Kubernetes Service Manager for PCF** on [Pivotal Network](https://network.pivotal.io/).

1. Click **Kubernetes Service Manager CLIs**.

1. Download the **Linux CLI for Bazaar** binary.

1. Rename the downloaded binary file to `bazaar`.

1. On the command line, run the following command to make the Bazaar binary act as an executable file:

  ```
  chmod +x bazaar
  ```

1. On the command line, run the following command to move the binary file into your `PATH`.

  ```
  mv bazaar /usr/local/bin/bazaar
  ```


##<a id='install'></a> Install the Bazaar CLI for Windows

To install the Bazaar CLI on your workstation, do the following:

1. Search for **Kubernetes Service Manager for PCF** on [Pivotal Network](https://network.pivotal.io/).

1. Click **Kubernetes Service Manager CLIs**.

1. Download the **Windows CLI for Bazaar** binary.

1. Rename the downloaded binary file to `bazaar.exe`.

1. Move the binary file into your `PATH`.
