---
title: Installing and Configuring Kubernetes Service Manager for PCF
owner: ISM
---
<strong><%= modified_date %></strong>

<%= partial ("beta-notice") %>

This topic describes how to install and configure Kubernetes Service Manager
(KSM) for Pivotal Cloud Foundry (PCF).

##<a id='bazaar'></a>  Install the Bazaar CLI

To install the Bazaar CLI, do the following:

1. Log in and navigate to **Kubernetes Service Manager for PCF (KSM)** in
[Pivotal Network](https://network.pivotal.io/).

1. Click **Kubernetes Service Manager CLIs** and download the CLI for your operating system.

1. Rename the downloaded binary file to `bazaar`.

1. If you are using MacOS or Linux,
to make the Bazaar binary act as an executable file, run the following command :

    <pre class="terminal">chmod +x bazaar</pre>

1. Move the binary file into your `PATH`.
If you are using MacOS or Linux, to move the binary file into your `PATH`, run the following command:

    <pre class="terminal">mv bazaar /usr/local/bin/bazaar</pre>

##<a id='install'></a> Download and Install the Tile

To add KSM for PCF to Ops Manager, do the following:

1. Log in and download the Kubernetes Service Manager for PCF file from
[Pivotal Network](https://network.pivotal.io/).

1. Navigate to your Ops Manager Installation Dashboard and click **Import a Product**
to upload the product file.

1. Under **Import a Product**, click **+** next to the version number of KSM for PCF.
This adds the tile to your staging area.

1. Click the newly-added **Kubernetes Service Manager for PCF** tile to open its configuration panes.

## <a id="configure"></a>Configure the Tile
Follow the steps below to configure KSM for PCF service.


###<a id='az-networks'></a> Configure AZs and Networks

Follow the steps below to select an availability zone (AZ) to run the
service broker and to select networks.

 1. Click **Assign AZs and Networks**

 1. Configure the fields as follows:
   <table>
     <tr><th>Field</th><th>Instructions</th></tr>
     <tr>
        <td><strong>Place singleton jobs in</strong></td>
        <td>Select the AZ that you want the singleton VMs to run in.
            This selection does not affect KSM for PCF.</td>
     </tr>
     <tr>
        <td><strong>Balance other jobs in</strong></td>
        <td>Select additional AZs.
            This selection controls the regions in which KSM for PCF is deployed.</td>
     </tr>
     <tr>
        <td><strong>Network</strong></td>
        <td>Select the same network you use for the Pivotal Application Service (PAS) component VMs.
          To view the network PAS component VMs use, navigate to <strong>PCF Ops Manager</strong> >
          <strong>Pivotal Application Service (PAS)</strong> > <strong>Assign AZs and Networks</strong>.
        </td>
     </tr>
   </table>
    <p class="note warning"><strong>Warning:</strong> If you change the network or its IP address
       after they are assigned your deployment fails. For more information,
       see <a href="https://docs.pivotal.io/rabbitmq-cf/changing-ips.html">Changing Network or IP Addresses Results in a Failed Deployment</a>.</p>

 2. Click **Save**.


### <a id="kubeconfig"></a> Configure Cluster Credentials

To use the Pivotal Container Service Command Line Interface (PKS CLI) to configure
default settings for your kubeconfig, do the following:

1. To retrieve your cluster credentials with the PKS CLI,
   do the procedure in [Retrieve Cluster Credentials](https://docs.pivotal.io/runtimes/pks/cluster-credentials.html#get-credentials).

1. Navigate to `$HOME/.kube/config` and record the following values for your cluster:
  + `certificate-authority-data`. This value is the CA certificate for the PKS cluster.
  + `server`. This value includes both the Kubernetes API endpoint and port in the format `ENDPOINT:PORT`.
  + `token`. This value is found in the `context:user` section.

1. Navigate to **PCF Ops Manager** > **Kubernetes Service Manager for PCF** > **Kubernetes Configuration**.

1. Configure the fields as follows:
   <table class="nice">
  <tr>
  <th>Field</th>
  <th>Instructions</th>
  </tr>
  <tr>
    <td><strong>A base64 encoded PEM Cluster CA certificate</strong></td>
    <td>Enter the value of <code>certificate-authority-data</code> in your kubeconfig.</td>
  </tr>
  <tr>
    <td><strong>K8s API endpoint</strong></td>
    <td>Enter the endpoint value of <code>server</code> in your kubeconfig. </td>
  </tr>
  <tr>
    <td><strong>K8s API endpoint port</strong></td>
    <td>Enter the port value of <code>server</code> in your kubeconfig.</td>
  </tr>
  <tr>
    <td><strong>Token</strong></td>
    <td>Enter the value of <code>token</code> in your kubeconfig. </td>
  </tr>
  </table>

For more information about using kubeconfig files,
see [Organizing Cluster Access Using kubeconfig Files](https://kubernetes.io/docs/concepts/configuration/organize-cluster-access-kubeconfig/).

### <a id="storage"></a> Configure Storage

KSM for PCF requires S3 compatible buckets to store offered charts and the chart cache.
The operator is responsible for backing up this bucket with their IaaS provider.

If you are using Google Cloud Storage, you must generate a developer key. This developer
key is used to configure **Access Key ID** and **Secret Access Key** in the below table.
For instructions on how to generate a developer key,
see [Managing developer keys for a simple migration](https://cloud.google.com/storage/docs/migrating#keys)
in the Google Cloud Storage documentation.

If your PCF deployment is on vSphere, you can use the Minio for PCF title for storage.
For information, see the [Minio for PCF](https://docs.pivotal.io/partners/minio/)
documentation.

KSM for PCF accesses your S3 store through a user account.
Pivotal recommends that this account be solely for KSM for PCF.
You must apply a minimal policy that lets the user account upload backups to your S3 store.

To configure storage, do the following:

1. Create a policy for your KSM for PCF user account.

    <br>Policy creation varies depending on the S3 provider.
        Follow the relevant procedure to give KSM for PCF the following permissions:<br><br>
      * List and upload to buckets
      * (Optional) Create buckets in order to use buckets that do not already exist

    For example, in AWS, to create a new custom policy,
    go to **IAM** > **Policies** > **Create Policy** > **Create Your Own Policy**
    and paste in the following permissions:

      ```json
        {
          "Version": "2012-10-17",
          "Statement": [
            {
              "Sid": "ServiceBackupPolicy",
              "Effect": "Allow",
              "Action": [
                "s3:ListBucket",
                "s3:ListBucketMultipartUploads",
                "s3:ListMultipartUploadParts",
                "s3:CreateBucket",
                "s3:PutObject"
              ],
              "Resource": [
                "arn:aws:s3:::MY\_BUCKET\_NAME/*",
                "arn:aws:s3:::MY\_BUCKET\_NAME"
              ]
            }
          ]
        }
      ```

1. (Recommended) Create a new user for KSM for PCF and record its
    Access Key ID and Secret Access Key, the user credentials.

1. Attach the policy you created to the AWS user account that KSM for
  PCF uses to access S3 (**IAM** > **Policies** > **Policy Actions** > **Attach**).

1. Navigate to **PCF Ops Manager** > **Kubernetes Service Manager for PCF** > **Storage Configuration**.

1. Configure the fields as follows:

    <table class="nice">
    <tr>
    <th>Field</th>
    <th>Instructions</th>
    </tr>
    <tr>
      <td><strong>Endpoint</strong></td>
      <td>Enter the s3 compatible endpoint URL for uploading backups. The URL cannot start with <code>http://</code> or <code>https://</code>. For example:<br><br>
        <ul>
          <li><code>storage.googleapis.com</code></li>
          <li><code>s3-us-west-2.amazonaws.com</code></li>
        </ul>
        </td>
      </tr>

      <tr>
        <td><strong>Region</strong></td>
        <td> Enter the region where your bucket is located.
          The region defaults to <code>us-east-1</code>.
          Some IaaS providers do not require regions for their buckets.
          For example, Google Cloud Platform Multi-Regional Storage ignores this value.
        </td>
      </tr>

      <tr>
        <td><strong>Bucket Name</strong></td>
        <td>Enter the name of your bucket.</td>
      </tr>

      <tr>
        <td><strong>Storage Prefix</strong></td>
        <td> Enter the path in the bucket to store backups. If this is left blank,
           objects are stored at the root of the bucket.</td>
      </tr>

      <tr>
        <td><strong>Access Key ID</strong></td>
        <td>Enter the S3 Access Key ID.</td>
      </tr>

      <tr>
        <td><strong>Secret Access Key</strong></td>
        <td>Enter the Secret Access Key.</td>
      </tr>

    </table>

### <a id="container"></a> Configure Container Registry

When you configure a private registry,
KSM for PCF will install in an offline environment, and can modify your Helm
charts to point to images in the private registry.
Pivotal recommends using a private registry in production.
You will obtain the following values from your container registry, such as Harbor.

To configure a private registry, do the following:

1. Click **Container Registry Configuration**.
1. Enter the **Registry Server URL**. This is the URL including your container registry hostname and project. For example, `gcr.io/myproject`.
This is the location from which KSM will push and pull images.
1. Enter the **Registry Username**. This is the username which KSM will use to push and pull images to the registry.
1. Enter the **Registry Password**. This is the password which KSM will use to push and pull images to the registry.

### <a id="errands"></a>Errands

The pre-delete errand `deregistar` removes the pre-provisioned Kubernetes service from `cf marketplace`
and deletes all associated service instances and bindings.
This errand is disabled by default.

### <a id="apply-changes"></a> Apply All Changes

To deploy KSM for PCF and apply your configurations, do the following:

1. Navigate to the Ops Manager Installation Dashboard.

1. If you are using Ops Manager v2.3 or later, click Review Pending Changes.
   For more information about this Ops Manager page,
   see [Reviewing Pending Product Changes](https://docs.pivotal.io/pivotalcf/2-4/customizing/review-pending-changes.html).

1. Click **Apply Changes**.
