---
title: Installing and Configuring Kubernetes Service Manager for PCF
owner: ISM
---
<strong><%= modified_date %></strong>
This topic describes how to install and configure Kubernetes Service Manager for PCF

##<a id='install'></a> Install and Configure Kubernetes Service Manager for PCF

To install the Kubernetes Service Manager for PCF file on the Ops Manager Installation Dashboard, do the following:

1. Download the product file from Pivotal Network.

1. Navigate to the Ops Manager Installation Dashboard and click **Import a Product** to upload the product file. 

1. Under the **Import a Product** button, click **+** next to the version number of Kubernetes Service Manager for PCF.
This adds the tile to your staging area.

1. Click the newly added **Kubernetes Service Manager for PCF** tile.

## Required Settings

### Assign AZs and Networks

 1. Configure the fields on the **Assign AZs and Networks** as follows:
   <table>
     <tr><th>Field</th><th>Instructions</th></tr>
     <tr>
        <td><strong>Place singleton jobs in</strong></td>
        <td>Select the region that you want for singleton VMs. This selection does not affect the Kubernetes Service Manager for PCF.</td>
     </tr>
     <tr>
        <td><strong>Balance other jobs in</strong></td>
        <td>Select additional region. This selection controls the regions in which Kubernetes Service Manager for PCF is deployed.</td>
     </tr>
     <tr>
        <td><strong>Network</strong></td>
        <td>Select the network used for the Pivotal Application Service (PAS) or Elastic Runtime components.</td>
     </tr>
   </table>

    <p class="note warning"><strong>WARNING</strong>: Changing the Network after you have configured them, or changing their IP configurations,
       results in a failed deployment.
       For more information, see <a href="./changing-ips.html">Changing Network or IP Addresses Results in a Failed Deployment</a>.</p>

 2. Click **Save**.


### Kubernetes Service Manager for PCF Default Kubernetes Config
Run  `pks get-credentials` to get values for following fields.
To get more information visit the [PKS CLI docs](https://docs.pivotal.io/runtimes/pks/cluster-credentials.html)

1. **PEM encoded Cluster CA certificate**: Enter CA cert, This value begins with

    ```-----BEGIN CERTIFICATE-----```

    For more information, see the [Kubernetes documentation](https://kubernetes.io/docs/tasks/tls/managing-tls-in-a-cluster/)

1. **Kubernetes API endpoint**: Enter API endpoint,  For example https://<ip>:<port>
1. **Cluster JWT token**: Enter token


### Helm Configuration
The `bazaar` CLI component of the Kubernetes Service Manager for PCF deploys Helm and Tiller into a PKS cluster.

1. **Tiller Security Certificate**: Click on generate RSA certificate.  Enter a domain; the system domain will work. The actual value of domain does not matter
    since this is used for mutual TLS. This certificate used to authenticate Kubernetes Service Manager for PCF's internal components.

1. **Helm Client Certificate**: Click on generate RSA certificate. Enter a domain; the system domain will work. The actual value of domain does not matter
    since this is used for mutual TLS. This certificate used to authenticate Kubernetes Service Manager for PCF's internal components.

1. Click **Save**.

### Container Registry Configuration

When configured with a private registry, the product will transform the helm chart to point to images in private registry. It is advisable to use a private registry in production.

1. Enter the **Registry Server URL**
1. Enter the **Registry Username**
1. Enter the **Registry Password**

1. Return to the Ops Manager Installation Dashboard and click **Apply changes** to install Kubernetes Service Manager for PCF.

### Errands
**De-Registrar**

Removes the pre-provisioned Kubernetes service from the Marketplace and
**deletes all associated service instances and bindings**.

### Resource Config

For HA deployment, deploy Kubernetes Service Manager for PCF with two or more instances.
