---
title: Release Notes for Pivotal Bazaar for PCF
owner: Partners
---

<strong><%= modified_date %></strong>

These are release notes for Pivotal Bazaar for PCF.

##<a id="ver"></a> v0.4.0

**Release Date:** <span style="color: deeppink; font-weight: bold">April 1, 2019</a>

Initial release
