---
title: Release Notes for Kubernetes Service Manager for PCF
owner: ISM
---

<strong><%= modified_date %></strong>

<%= partial ("beta-notice") %>

These are release notes for Kubernetes Service Manager for PCF.

##<a id="v0.4.57"></a> v0.4.57

**Release Date:** May 9, 2019

<p class="note"><strong>Note:</strong> This release is backward incompatible and  requires re-adding all charts to the broker. </p>

### Features

New features and changes in this release:

* Operators can customize bind responses with templates. For information, see [(Optional) Customize Bind Response](./using.html#bind).
* By default, KSM deploys multiple instances and has high availability.

### Known Issues

There are no known issues in this release.

##<a id="v0.4.34"></a> v0.4.34

**Release Date:** March 11, 2019

Initial release
