---
title: Release Notes for Kubernetes Service Manager for PCF
owner: ISM
---

<strong><%= modified_date %></strong>

<%= partial ("beta-notice") %>

These are release notes for Kubernetes Service Manager for PCF.

##<a id="ver"></a> v0.4.0

**Release Date:** MM XX, 2019

Initial release
