---
title: Release Notes for Kubernetes Service Manager for PCF
owner: ISM
---

<strong><%= modified_date %></strong>

<%= partial ("beta-notice") %>

These are release notes for Kubernetes Service Manager for PCF.

##<a id="v0.4.57"></a> v0.4.57

**Release Date:** May 9, 2019

* Added bind templates
* KSM is now HA and defaults to multiple instances
* This release is **backward incompatible**, and will require re-adding any charts to the broker.

##<a id="v0.4.34"></a> v0.4.34

**Release Date:** MM XX, 2019

Initial release
