---
title: Release Notes for Kubernetes Service Manager for PCF
owner: ISM
---

<%= partial ("beta-notice") %>

<strong><%= modified_date %></strong>

These are release notes for Kubernetes Service Manager for PCF.

##<a id="ver"></a> v0.4.0

**Release Date:** February XX, 2019

Initial release
