---
title: Release Notes for Kubernetes Service Manager for PCF
owner: ISM
---

<strong><%= modified_date %></strong>

These are release notes for Kubernetes Service Manager for PCF.

##<a id="ver"></a> v0.4.0

**Release Date:** <span style="color: deeppink; font-weight: bold">February 15, 2019</a>

Initial release
